@charset "ISO-8859-1";

.now-list-restaurant {
	border-radius: 6px;
	margin-bottom: 20px;
	position: relative
}

.now-list-restaurant.res-col-4 .item-restaurant {
	width: 25%
}

.now-list-restaurant.res-col-4 .img-restaurant {
	height: 175px
}

.now-list-restaurant.res-col-4 .box-loading {
	width: 25%
}

.now-list-restaurant .list-restaurant {
	margin: 0 -10px;
	position: relative
}

.now-list-restaurant .list-restaurant:after {
	display: block;
	clear: both;
	content: ""
}

.now-list-restaurant .list-restaurant.row-3 {
	padding-bottom: 20px
}

.now-list-restaurant .item-restaurant {
	padding: 10px;
}

.now-list-restaurant .item-restaurant .tag-preferred {
	text-transform: none;
	position: absolute;
	background: #f13233;
	color: #fff;
	bottom: 5px;
	left: 7px;
	z-index: 1;
	padding: 3px 5px
}

.now-list-restaurant .item-restaurant .tag-preferred i {
	padding-left: 2px;
	padding-right: 5px
}

.now-list-restaurant .item-restaurant:first-child {
	padding-left: 12px
}

.now-list-restaurant .item-content {
	cursor: pointer;
	border-radius: 6px;
	background-color: #fff;
	position: relative;
	display: block
}

.now-list-restaurant .item-content:hover {
	transition: box-shadow .25s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 4px 15px 0
		rgba(0, 0, 0, .19);
	text-decoration: none
}

.now-list-restaurant .info-restaurant {
	border: 1px solid #d7d7d7;
	border-radius: 0 0 6px 6px;
	height: 84px
}

.now-list-restaurant .info-restaurant .name-res {
	font-size: 14px;
	font-weight: 700;
	color: #252525;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 1px;
	padding-top: 5px
}

.now-list-restaurant .info-restaurant .icon-quality-merchant {
	vertical-align: bottom
}

.now-list-restaurant .info-restaurant .address-res {
	font-size: 12px;
	color: #959595;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.now-list-restaurant .content-promotion {
	font-size: 13px;
	color: #187caa;
	font-weight: 700;
	padding: 8px 8px 5px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.now-list-restaurant .content-promotion .fas {
	color: #cf2127
}

.now-list-restaurant .kind-restaurant {
	font-size: 12px;
	color: #959595;
	text-transform: uppercase;
	padding: 8px 8px 6px;
	margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.now-list-restaurant .img-restaurant {
	position: relative;
	border-radius: 6px 6px 0 0;
	overflow: hidden;
	height: 137px;
	background: #eaeaea
}

.now-list-restaurant .img-restaurant img {
	width: auto;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.now-list-restaurant .info-basic-res {
	padding: 5px 8px;
	border-bottom: 1px solid #ebebeb
}

.now-list-restaurant-row {
	background-color: #fff;
	padding-bottom: 10px
}

.now-list-restaurant-row .item-content {
	position: relative;
	display: block
}

.now-list-restaurant-row .item-content:hover {
	box-shadow: none
}

.now-list-restaurant-row .item-restaurant {
	width: 100%
}

.now-list-restaurant-row .img-restaurant {
	width: 142px;
	height: 90px;
	border-radius: 4px
}

.now-list-restaurant-row .info-restaurant {
	height: inherit;
	border: 0;
	padding-left: 15px
}

.now-list-restaurant-row .info-restaurant .name-res {
	font-size: 16px;
	padding-top: 0;
	margin-top: -3px
}

.now-list-restaurant-row .info-restaurant .address-res {
	font-size: 14px
}

.now-list-restaurant-row .item-res-info {
	font-size: 14px;
	color: #000;
	position: relative
}

.now-list-restaurant-row .item-res-info .icon {
	zoom: .5;
	margin-right: 10px;
	vertical-align: sub
}

.now-list-restaurant-row .item-res-info .icon {
	margin-right: -10px;
}

.now-list-restaurant-row .carousel-control-prev {
	left: -32px
}

.now-list-restaurant-row .carousel-control-next {
	right: -32px
}

.now-list-restaurant-row .kind-restaurant {
	padding: 5px 8px 0 0
}

.opentime-status {
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: 1
}

.opentime-status-icon {
	position: absolute;
	top: 0;
	left: -26px;
	width: 20px;
	z-index: 1
}

.opentime-status:after {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	width: 15px;
	bottom: -1px;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1
}

.opentime-status .stt {
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	height: 15px;
	display: block;
	position: relative;
	z-index: 2
}

.opentime-status .online {
	background-color: #6cc942;
	color: #329900
}

.opentime-status .offline {
	background-color: #6d6f71;
	color: #6d6f71
}

.opentime-status .busy {
	background-color: #cf2127;
	color: #cf2127
}

.right {
	float: right
}

.full {
	width: 100%
}

.now-banner {
	height: 100vh;
	position: relative;
	left: 0;
	right: 0;
	z-index: 0;
	background-image: url(/shopbaeFood/static/img/main-banner.jpg);
	background-size: cover;
	overflow: hidden;
}

.now-banner .container {
	height: 100%;
	position: relative
}

.now-search {
	color: #fff;
	width: 470px;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	margin-top: -30px
}

.now-search .title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 5px
}

.now-search .local {
	font-size: 15px;
	text-transform: capitalize
}

.now-search .form-search {
	padding: 27px 0 40px;
	position: relative
}

.now-search .form-search .input-group input {
	width: 100%;
	padding-right: 75px;
	padding-left: 10px;
	height: 50px;
	border: 0;
	border-radius: 6px 10px 10px 6px
}

.now-search .form-search .input-group input:focus {
	outline: none
}

.now-search .form-search .input-group input ::-webkit-input-placeholder
	{
	color: #d7d7d7
}

.now-search .form-search .input-group input ::-moz-placeholder {
	color: #d7d7d7
}

.now-search .form-search .btn-search {
	width: 70px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 6px 6px 0;
	padding-top: 11px
}

.now-search .icon-app-store-big, .now-search .icon-gg-play-big {
	transform: scale(.75);
	transform-origin: left;
	margin-right: -40px
}

.now-search .now-idea-searching {
	margin-top: -40px
}

.now-banner-container {
	position: relative;
}

.contain-main-home .main-right-home {
	margin-top: 48px;
	position: relative;
	z-index: auto;
	margin-bottom: 220px;
	min-height: calc(100vh - 123px);
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

.main-right-home .now-list-restaurant {
	padding: 13px 40px 10px;
	border: 1px solid #d7d7d7;
	background-color: #fff
}

@media only screen and (max-width: 765px) {
	.main-right-home .now-list-restaurant {
		padding: 13px;
		border: none;
		background-color: #fff
	}
	.now-list-restaurant {
		border-radius: unset;
	}
	.main-right-home .user-get-local {
		border-radius: unset !important;
	}
}

@media only screen and (max-width: 1200px) {
	.now-banner .container {
		position: fixed;
	}
	.now-search {
		width: 41.66666667% !important;
	}
}

.main-right-home .now-list-restaurant .list-restaurant {
	margin: 0 -8px
}

.main-right-home .now-list-restaurant .title {
	font-size: 16px;
	font-weight: 700
}

.main-right-home .now-list-restaurant .title-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.main-right-home .now-list-restaurant .item-restaurant {
	padding: 8px;
}

.main-right-home .now-list-restaurant-row .item-restaurant {
	width: 100%
}

.main-right-home .now-list-restaurant-row .header-tab {
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 8px
}

.main-right-home .now-list-restaurant-row .header-tab select {
	font-size: 14px;
	padding: 6px 0 6px 5px;
	border-radius: 4px;
	max-width: 200px
}

.main-right-home .now-list-restaurant-row .header-tab .item-tab {
	cursor: pointer;
	line-height: 22px;
	padding: 0;
	background-color: transparent;
	border: none
}

.main-right-home .now-list-restaurant-row .header-tab .item-tab:focus {
	outline: none
}

.main-right-home .now-list-restaurant-row .header-tab .item-tab.active {
	color: #0288d1
}

.main-right-home .now-list-restaurant-row .header-tab .item-tab:last-child
	{
	margin-right: 0
}

.main-right-home .now-list-restaurant-row .img-restaurant {
	height: 90px
}

.main-right-home .user-get-local {
	background-color: #fff;
	margin-bottom: 20px;
	padding: 14px 17px 14px 40px;
	border-radius: 4px
}

.main-right-home .user-get-local .pointer {
	cursor: pointer
}

.category-list-filter>a {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px
}

.category-list-filter .category-item {
	font-size: 16px;
	color: #fff;
	white-space: nowrap;
	cursor: pointer;
	padding: 7px 21px;
	border-radius: 6px;
	border: 1px solid;
	display: inline-block;
	transition: all .3s ease
}

.category-list-filter .category-item:hover {
	text-decoration: none;
	color: #252525;
	background-color: #fff;
	border-color: #fff
}

.category-list-filter .category-item.active {
	color: #252525;
	background-color: #fff
}

.wrapper input[type=color], .wrapper input[type=date], .wrapper input[type=datetime-local],
	.wrapper input[type=datetime], .wrapper input[type=email], .wrapper input[type=month],
	.wrapper input[type=number], .wrapper input[type=password], .wrapper input[type=search],
	.wrapper input[type=tel], .wrapper input[type=text], .wrapper input[type=time],
	.wrapper input[type=url], .wrapper input[type=week], .wrapper select:focus,
	.wrapper textarea {
	font-size: 16px
}
