<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<th:block th:fragment="footer">
		<div class="now-container-coporation container-xl pt-2">
			<p class="seo-footer-link__head">Danh mục</p>
			<div class="seo-footer-link__body row">
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a> <span class="seo-footer-link__title">Thuốc</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper">
						<li><a class="seo-footer-link__sub-item">Hoá mỹ phẩm</a></li>
						<li><a class="seo-footer-link__sub-item">BCS</a></li>
						<li><a class="seo-footer-link__sub-item">Thiết bị</a></li>
						<li><a class="seo-footer-link__sub-item">Thuốc tây</a></li>
						<li><a class="seo-footer-link__sub-item">Khẩu trang</a></li>
						<li><a class="seo-footer-link__sub-item">Khẩn cấp</a></li>
					</ul>
				</div>
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a href="#"> <span class="seo-footer-link__title">Thú
							cưng</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper">
						<li><a class="seo-footer-link__sub-item">Thú cưng</a></li>
					</ul>
				</div>
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a href="#"> <span class="seo-footer-link__title">Đồ ăn
							HN</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper">
						<li><a href="#" class="seo-footer-link__sub-item">Đồ ăn
								HN</a></li>
					</ul>
				</div>
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a href="#"> <span class="seo-footer-link__title">Đặt
							bàn HN</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper"></ul>
				</div>
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a href="#"> <span class="seo-footer-link__title">Thực
							phẩm HN</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper"></ul>
				</div>
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a href="#"> <span class="seo-footer-link__title">Sản
							phẩm HN</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper"></ul>
				</div>
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a href="#"> <span class="seo-footer-link__title">Sản
							phẩm</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper">
						<li><a href="#" class="seo-footer-link__sub-item">Mỹ phẩm</a>
						</li>
						<li><a href="#" class="seo-footer-link__sub-item">Đồ chơi</a>
						</li>
						<li><a href="#" class="seo-footer-link__sub-item">Sữa</a></li>
						<li><a href="#" class="seo-footer-link__sub-item">Tã bỉm</a>
						</li>
						<li><a href="#" class="seo-footer-link__sub-item">Dụng cụ</a>
						</li>
						<li><a href="#" class="seo-footer-link__sub-item">Quần áo</a>
						</li>
						<li><a class="seo-footer-link__sub-item">Giày dép</a></li>
						<li><a class="seo-footer-link__sub-item">Điện tử</a></li>
						<li><a class="seo-footer-link__sub-item">Trang sức</a></li>
					</ul>
				</div>
				<div class="seo-footer-link__item col-6 col-lg-3">
					<a href="https://shopeefood.vn/ha-noi/flowers"> <span
						class="seo-footer-link__title">Hoa</span>
					</a>
					<ul class="seo-footer-link__sub-item-wrapper">
						<li><a class="seo-footer-link__sub-item">Chia buồn</a></li>
						<li><a class="seo-footer-link__sub-item">Cây cảnh</a></li>
						<li><a class="seo-footer-link__sub-item">Chúc mừng</a></li>
						<li><a class="seo-footer-link__sub-item">Sinh nhật</a></li>
						<li><a class="seo-footer-link__sub-item">Tình yêu</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="now-container-coporation container-xl">
			<div class="container-inner row">

				<div class="block-last col-12 mb-5 mt-4">
					<p class="title-block">Địa chỉ công ty</p>
					<span> <span>Công Ty Cổ Phần...</span> <span>Cầu
							Giấy, Hà Nội</span> <span>do Sở Kế hoạch và Đầu tư TP.HCM cấp
							ngày 11/6/2012,</span> <span>sửa đổi lần thứ 23, ngày 10/12/2020</span>
						<span>Số điện thoại: 1900 1234</span> <span> Email: <a
							href="mailto:support@demo.vn"> support@demo.vn</a>
					</span>
					</span>
				</div>
			</div>
		</div>
	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}">
	</script>
	<script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
	<script th:src="@{/static/js/sockjs.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/stomp.min.js}"></script>
	<script th:src="@{/static/js/socketJs.js}"></script>
	</th:block>

</body>
</html>