<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account-list</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/account-list.css}">



</head>
<body>
<h3>Account list</h3>
<form th:action="@{/user/search}" method = "get">
<label for="name">Name: </label>
<input type="text" name= "name" id= "name">
<!-- <input type = "button" value= "Search"> -->
<button>Search</button>
</form>


<form th:action="@{/user/findId}" method = "get">
<label for="name">Name: </label>
<input type="text" name= "name" id= "name">
<!-- <input type = "button" value= "Search"> -->
<button>Search</button>
</form>

<p th:text= "${id}"></p>

<table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  	<tr th:each="account : ${listAccount}">
  		<td th:text = "${account.id}"></td>
  		<td th:text = "${account.userName}"></td>
  		<td th:text = "${account.email}"></td>
  		<td><a th:href="@{/update/{id}(id=${account.id})}" >edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${account.id})}" >delete</a></td>                         
  	</tr>
  </table>


</body>
</html>