<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Account</title>
</head>
<body>
<h1>Create Account</h1>


<form th:action="@{/create-account}" th:object="${account}" method="post">
  <table>
     <tr>
      <td>Id:</td>
      <td><input type="text" th:field="*{id}"/></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{userName}"/></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" th:field="*{email}"/></td>
    </tr>
    <tr>
      <td><button>Add</button></td>
    </tr>
  </table>
</form>
</body>
</html>