<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header,supTitle nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/admin-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #admin-static-resources},
                                                ~{:: #admin-header},
                                                ~{:: #admin-nav},
                                                ~{:: #admin-sup-title},
                                                ~{:: #admin-nav-sup},
                                                ~{:: #admin-main-content},  
                                                ~{:: #admin-footer}
                                               )}">
                                              
<head>
    <title>Admin Page</title>
    <th:block id="admin-static-resources">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}">
    </th:block>
</head>
<body>
    <div id="admin-header" th:replace="~{/fragments/app-fragments :: header}">
        Header of admin Page
    </div>
    <div id="admin-nav" th:replace="~{/fragments/app-fragments :: admin-nav}">
        Admin Nav
    </div>

    <main class="container-fluid m-md-5" >
   		 <h1 id= "admin-sup-title" class="h2" th:replace="~{/fragments/app-fragments :: ${role} =='merchant-list'? 'admin-merchant-sup-title': 'admin-user-sup-title'}">Quản lý người bán</h1>
   		 
		<div class="container card shadow d-flex justify-content-center mt-5">
 		 <!-- nav options -->
 		 
 		 
		    <div id="admin-nav-sup" th:replace="~{/fragments/app-fragments :: admin-nav-sup}">
       			 Admin Nav-Sup
   			</div>

 		 <!-- content -->
   			 <div id="admin-main-content" th:replace="~{/fragments/app-fragments :: ${stt}}">
 
  			 </div>
   
     	<!-- content -->

		</div>
	</main>

    <div id="admin-footer" th:replace="~{/fragments/app-fragments :: footer}">
        Footer
    </div>
</body>

</html>