<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cart</title>

 <link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.png}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/homepage.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/cart_page.css}">
<script th:src="@{https://kit.fontawesome.com/bb6a3cf0b7.js}"></script>
<!-- https://cdnjs.com/libraries/sockjs-client -->
<script th:src="@{/static/js/sockjs.min.js}"></script>
<!-- https://cdnjs.com/libraries/stomp.js/ -->
<script type="text/javascript"  th:src="@{/static/js/stomp.min.js}"></script>


<!-- <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css}"> -->

<style>
  .font15 {
    font-size: 15px;
  }

  .font14 {
    font-size: 14px;
  }
</style>
</head>

<body class="portal" style="font-size:calc(8px + 0.5vw);">
<div id="app">
  <div class="wrapper">


    <header class="main-header" th:replace="~{/fragments/app-fragments :: home-header}">

    </header>


<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4"> 
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Sản phẩm</h5>
          </div>
          <div class="card-body">
            <div th:if="${message == 'khong co du lieu'}">
              <img class="card-body-noimage" src="https://taphoa.cz/static/media/cart-empty-img.8b677cb3.png" alt="">
            </div>
            <!-- Single item -->

                <div class="row" th:each="cart : ${carts}">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <!-- Image -->
                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <img th:src="@{'/image/'+${cart.getProduct().getImage()}}"
                           class="w-100 bg-image-img" alt="" />
                    </div>
                    <!-- Image -->
                  </div>

                  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <!-- Data -->
                    <p><strong th:text="${cart.getProduct().getName()}"></strong></p>
                    <p>Mô tả: [[${cart.getProduct().getShortDescription()}]]</p>
                    <span>Giá mới : [[${cart.getProduct().getNewPrice()}]] đ</span>
                    <span  class = "cart-old-price">Giá cũ: [[${cart.getProduct().getOldPrice()}]] đ</span>
                    <p>Cửa hàng: [[${cart.getProduct().getMerchant().getName()}]]</p>
                    <a  class="btn btn-primary btn-sm me-1 mb-2" 
                           th:href= "@{/user/delete/__${cart.id}__}">
                      <i class="fas fa-trash"></i>
                    </a>
                    <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                            title="Move to the wish list">
                      <i class="fas fa-heart"></i>
                    </button>
                    <!-- Data -->
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- Quantity -->
                    <div class="d-flex mb-4" style="max-width: 300px">

                      <div class="form-outline">
                        <label class="form-label" for="form1">Số lượng</label>
                        <input id="form1" min="0" name="quantity" th:value="${cart.getQuantity()}" type="number" class="form-control" />

                      </div>
                    </div>
                    <!-- Quantity -->

                    <!-- Price -->
                    <p class="text-start text-md-center">
                      <strong>Giá tiền: </strong>
                      <strong >[[${cart.getTotalPrice()}]] đ</strong>
                    </p>
                    <!-- Price -->
                  </div>
                </div>
                <!-- Single item -->


          </div>
        </div>


        <div class="card mb-4" style="width: 1300px;">
          <div class="card-body">
            <p><strong>Lịch sử mua hàng</strong></p>

            <div class="table-responsive container">
              <table class="table table-striped table-sm">
                <thead>
                <tr>
                  <th scope="col">Ảnh</th>
                  <th scope="col">Người đặt </th>
                  <th scope="col">Thời gian</th>
                  <th scope="col" >Trạng thái</th>
                  <th scope="col" colspan="2" style="text-align: center;">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order,i : ${orders}">
                  <td><img th:src="@{'/image/'+${order.getAppUser().getAvatar()}}" alt="" style="height: 40px;
        width: 40px;
        border-radius: 50%;"></td>
                  <td class="merchant-item">[[${order.getAppUser().getName()}]]</td>
                  <td class="merchant-item">[[${order.getOrderdate()}]]</td>
                  <td class="merchant-item">[[${order.getStatus()}]] </td>
                  <td class="merchant-item"  style="width: 101px;" th:if= "${order.status == 'seller-receive'}"><a class="btn-order" th:href="@{/user/update-order-status/__${order.id}__/buyer-receive}">Nhận hàng</a></td>
                  <td class="merchant-item"  style="width: 80px;" th:if= "${order.status == 'seller-receive'}"><a class="btn-order" th:href="@{/user/update-order-status/__${order.id}__/buyer-refuse}">Từ chối</a></td>
                  <td class="merchant-item" th:if= "${order.status == 'seller-receive'}"><a class="btn-order" th:href= "@{/user/delete-order/__${order.id}__}"><i class="fa-solid fa-trash"></i></a></td>
                  <td class="merchant-item" th:if= "${order.status == 'buyer-receive'}"><a class="btn-order" th:href= "@{/user/delete-order/__${order.id}__}"><i class="fa-solid fa-trash"></i></a></td>
                  <td class="merchant-item" th:if= "${order.status == 'buyer-refuse'}"><a class="btn-order" th:href= "@{/user/delete-order/__${order.id}__}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
                </tbody>
              </table>
              
            </div>

          </div>


          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                 alt="Visa" />
            <img class="me-2" width="45px"
                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                 alt="American Express" />
            <img class="me-2" width="45px"
                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                 alt="Mastercard" />
          </div>

        </div>

      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Hóa đơn</h5>
          </div>
          <div class="card-body">
			<form th:action="@{/user/checkout}" th:object="${order}" method="post" >

            <div class="table-responsive">

            <div th:if="${message == 'khong co du lieu'}">
              <span>Chưa có sản phẩm</span>
            </div>
            
             <div th:if="${mess}">
              <span class="checkout-mess">[[${mess}]]</span>
            </div>
            
             <div th:if="${listProductChangePrice}">
              <span class="checkout-mess">Những sản phẩm sau đã bị thay đổi giá. Bạn có muốn đặt hàng nữa không!</span>
              <div th:each="product,i : ${listProductChangePrice}">
              		<span class="checkout-mess" th:text = "${i.index}+1"></span>
              		<span class="checkout-mess" >: </span>
              		<span class="checkout-mess" th:text = "${product.name}"></span>
              </div>
            </div>
            
              <div th:if="${listProductDelete}">
              <span class="checkout-mess">Các sản phẩm này đã bị cửa hàng xóa. Vui lòng xóa khỏi giỏ hàng để tiếp tục.</span>
              <div th:each="product,i : ${listProductDelete}">
              		<span class="checkout-mess" th:text = "${i.index}+1"></span>
              		<span class="checkout-mess" >: </span>
              		<span class="checkout-mess" th:text = "${product.name}"></span>
              </div>
            </div>
            
            <div th:if="${listProductOutOfStock}">
              <span class="checkout-mess">Các sản phẩm này đã hết hàng hoặc không đủ số lượng. Vui lòng kiểm tra lại!</span>
              <div th:each="product,i : ${listProductOutOfStock}">
              		<span class="checkout-mess" th:text = "${i.index}+1"></span>
              		<span class="checkout-mess" >: </span>
              		<span class="checkout-mess" th:text = "${product.name}"></span>
             </div>
            </div>
            
            <div th:unless="${message == 'khong co du lieu'}">
                  <table class="table table-striped table-sm"  >
                  <thead>
                  <tr>
                    <th scope="col">Stt </th>
                    <th scope="col">Tên </th>
                    <th scope="col">Số lượng</th>
                    <th scope="col" class="order-price" >Đơn giá</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="cart,i : ${carts}">
                    <td class="merchant-item" th:text="${i.index + 1}"></td>
                    <td class="merchant-item order-name" th:text="${cart.getProduct().getName()}"></td>
                    <td style="text-align: center" class="merchant-item" th:text="${cart.getQuantity()}"></td>
                    <td class="merchant-item order-price">[[${cart.getProduct().getNewPrice()}]] đ</td>
                  </tr>
                  <tr>
                    <th scope="col" colspan="3">Tổng tiền </th>
                    <th scope="col" class="order-price" >[[${totalPrice}]] đ</th>
               
                  </tr>
                   <tr>
                    <th scope="col" ><input type="text" id="merchant_id" style="display:none" th:field = "*{merchant_id}" ></th>
                    <th scope="col" ><input type="text" style="display:none" th:field = "*{totalPrice}"></th>
                    <th scope="col" ><input type="text" style="display:none" th:field = "*{orderdate}"></th>
              
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                    <td scope="col">Ghi chú </td>
                    <td scope="col" colspan="2"><input class="note"  type="text" placeholder="Ghi chú" th:field= "*{note}"></td>
                  </tr>
                  <tr>
                    <td scope="col">Địa chỉ</td>
                    <td scope="col" colspan="2"><input class="note" type="text" placeholder="Địa chỉ giao hàng" th:field= "*{address}"></td>
                  </tr>
                  </tbody>
                </table>
              
            </div>
         
            </div>
            <button th:unless="${listProductChangePrice}"  type="submit" class="btn btn-primary btn-lg btn-block btn-checkout">
              Đặt hàng
            </button>
              <button th:if="${listProductChangePrice}"  type="submit" class="btn btn-primary btn-lg btn-block btn-checkout"  name="action" th:formaction="@{/user/checkout/continute}">
              Vẫn đặt hàng
              </button>
            
            
            </form>
            
                 <button  type="submit" class="btn btn-primary btn-lg btn-block btn-checkout-a">
              Vẫn đặt hàng
              </button>
            
            </div>
            </div>
          </div>
        </div>
        
          <div class="modal-checkout">
          	<div class="modal-overlay"></div>
      		<div class="modal-checkout-content">
          <div class="card-header py-3">
            <h5 class="mb-0">Hóa đơn</h5>
          </div>
          <div class="card-body">
			<form th:action="@{/user/checkout}" th:object="${order}" method="post" id="messageForm" name="messageForm">
			
            <div class="table-responsive">

            <div th:if="${message == 'khong co du lieu'}">
              <span>Chưa có sản phẩm</span>
            </div>
            <div >
              <span class="checkout-mess">Có sản phẩm đã được nhà hàng cập nhật giá. Bạn có muốn tiếp tục mua không?</span>
            </div>
            
            <div th:unless="${message == 'khong co du lieu'}">
                  <table class="table table-striped table-sm checkout-table"  >
                  <thead>
                  <tr>
                    <th scope="col">Stt </th>
                    <th scope="col">Tên </th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="cart,i : ${carts}">
                    <td class="merchant-item" th:text="${i.index + 1}"></td>
                    <td class="merchant-item order-name" th:text="${cart.getProduct().getName()}"></td>
                    <td style="text-align: center" class="merchant-item" th:text="${cart.getQuantity()}"></td>
                    <td class="merchant-item order-price">[[${cart.getProduct().getNewPrice()}]] đ</td>
                  </tr>
                   <tr>
                    <th scope="col" ><input type="text" id="merchant_id" style="display:none" th:field = "*{merchant_id}" ></th>
                    <th scope="col" ><input type="text" style="display:none" th:field = "*{totalPrice}"></th>
                    <th scope="col" ><input type="text" style="display:none" th:field = "*{orderdate}"></th>
              
                  </tr>
                  <tr>
                  </tr>
                  </tbody>
                </table>
              
            </div>
         
            </div>
            
            <div class="checkout-note">
                    <strong><span >Tổng tiền: </span></strong>
                    <span class="checkout-total-price">[[${totalPrice}]] đ</span>
                    <br />
                    <label for="note">Ghi chú: </label>
                    <input class="note" id="note"  type="text" placeholder="Ghi chú" th:field= "*{note}">
                    <label for="address">Địa chỉ:</label>
                    <input class="note" id="address" type="text" placeholder="Địa chỉ giao hàng" th:field= "*{address}">
            </div>
            <button type="submit" class="btn  btn-checkout btn-modal-checkout">
              Đặt hàng
            </button>
            
            </form>
            </div>
      		</div>
      </div>
        
      </div>
      

</section>


    <div th:replace="~{/fragments/app-fragments :: footer}">
        Footer
    </div>

  </div>


</div>

<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}">
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/static/js/socketJs.js}"></script>
<script th:src="@{/static/js/checkout.js}"></script>
</body>
</html>