<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cart</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/cart_page.css}">
<script th:src="@{/static/js/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/stomp.min.js}"></script>
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/static/js/socketJs.js}"></script>
<script th:src="@{/static/js/checkout.js}"></script>
</head>
<head th:replace="~{/fragments/head :: head}">
</head>

<body class="portal">
	<div id="app">
		<div class="wrapper">
			<header class="main-header"
				th:replace="~{/fragments/app-fragments :: home-header}"> 
			</header>
			
			<section class="h-100 gradient-custom">
				<div class="container py-5">
					<div class="row d-flex justify-content-center my-4">
						<div class="col-12 col-sm-7 col-md-7 p-0 pe-sm-3">
							<div class="card mb-4">
								<div class="card-header py-3">
									<h5 class="mb-0">Sản phẩm</h5>
								</div>
								<div class="card-body  card-body-cart">
									<th:block th:if="${message == 'khong co du lieu'}">
										<img class="img-fluid"
											src="https://taphoa.cz/static/media/cart-empty-img.8b677cb3.png" alt="">
									</th:block>
									<!-- Single item -->
									<div class="row mb-3 pb-3" th:id=" 'cart'+${cart.id}"
										th:each="cart : ${carts}">
										<div class="col-lg-4 col-md-4 col-sm-4 col-4 mb-lg-0 p-0 px-sm-2">
										<a th:href="@{/home/merchant-detail/__${cart.getProduct().getMerchant().getId()}__}"
											class="hover-overlay hover-zoom d-block mb-3">
											<img th:src="@{'/image/'+${cart.getProduct().getImage()}}" class="w-100 bg-image-img" alt="" />
										</a>
										<div class="action d-flex">
											<a class="btn btn-primary btn-sm me-1 mb-2"
												th:href="@{/user/delete/__${cart.id}__}"> 
												<i class="fas fa-trash"></i>
											</a>
											<button type="button" class="btn btn-danger btn-sm mb-2"
												data-mdb-toggle="tooltip" title="Move to the wish list">
												<i class="fas fa-heart"></i>
											</button>
										</div>
										</div>
										
										<div class="col-lg-8 col-md-8 col-sm-8 col-8 mb-4 mb-lg-0">
											<!-- Data -->
											<p>
												<strong th:text="${cart.getProduct().getName()}"></strong>
											</p>
											<div class="row m-0 p-0">	
												<span class="col-4 col-sm-3 col-md-3 col-xl-3 p-0">Mô tả </span>
												<span class="col-8 col-sm-9 col-md-9 col-xl-9 p-0">[[${cart.getProduct().getShortDescription()}]]</span>
												<span class="col-4 col-sm-3 col-md-3 col-xl-3 p-0">Giá mới</span>
												<span class="col-8 col-sm-9 col-md-9 col-xl-9 p-0">[[${#numbers.formatDecimal(cart.getProduct().getNewPrice(),0, 'COMMA', 0, 'POINT')}]] đ</span> 
												<span class="cart-old-price col-4 col-sm-3 col-md-3 col-xl-3 p-0">Giá cũ</span>
												<span class="cart-old-price col-8 col-sm-9 col-md-9 col-xl-9 p-0">[[${#numbers.formatDecimal(cart.getProduct().getOldPrice(),0, 'COMMA', 0, 'POINT')}]] đ</span>
												<span class="col-4 col-sm-3 col-md-3 col-xl-3 p-0">Cửa hàng</span>
												<span class="col-8 col-sm-9 col-md-9 col-xl-9 p-0">[[${cart.getProduct().getMerchant().getName()}]]</span>
											</div>
											<!-- Data -->
										</div>

											<!-- Quantity -->
											<div class="d-flex col-lg-6 col-md-6 col-sm-6 col-6" style="max-width: 300px">
												<div class="form-outline">
													<span>Số lượng </span>
													<div id="wrong-message" class="checkout-mess"></div>
													<div class="d-flex h-50 mt-2">
														<a class="btn btn-primary btn-sm"
															th:href="@{/user/decrease/__${cart.id}__}"> 
															<i class="fa-sharp fa-solid fa-minus"></i>
														</a> 
														<input min="0" name="quantity"
															th:onchange="changeQuantity([[${cart.id}]], this.value)"
															th:value="${cart.getQuantity()}" type="number"
															class="form-control mx-2" /> 
														<a class="btn btn-primary btn-sm"
															th:href="@{/user/increase/__${cart.id}__}"> 
															<i class="fa-sharp fa-solid fa-plus"></i>
														</a>
													</div>
												</div>
											</div>
											<!-- Quantity -->
											<div class="col-lg-6 col-md-6 col-sm-6 col-6 mt-3 align-items-center justify-content-end d-flex">
												<span class="text-start text-md-center">
												<strong>Giá tiền: </strong> 
												<strong>[[${#numbers.formatDecimal(cart.getTotalPrice(),0, 'COMMA', 0, 'POINT')}]] đ</strong>
												</span>
											</div>
									
									</div>
									<!-- Single item -->
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-5 col-md-5 p-0 ps-sm-3">
							<div class="card mb-4">
								<div class="card-header py-3">
									<h5 class="mb-0">Hóa đơn</h5>
								</div>
								<div class="card-body card-body-bill">
									<div th:if="${message == 'khong co du lieu'}">
										<span class="fs-5">Chưa có sản phẩm</span>
									</div>
									<div th:unless="${message == 'khong co du lieu'}">
										<form th:action="@{/user/checkout}" th:object="${order}"
											method="post">
											<div class="table-responsive">
												<table class="table table-striped table-sm">
													<thead class="align-middle">
														<tr>
															<th scope="col">Stt</th>
															<th scope="col">Tên</th>
															<th scope="col">Số lượng</th>
															<th scope="col" class="order-price">Đơn giá</th>
														</tr>
													</thead>
													<tbody class="align-middle text-center">
														<tr th:each="cart,i : ${carts}">
															<td class="merchant-item" th:text="${i.index + 1}"></td>
															<td class="merchant-item order-name"
																th:text="${cart.getProduct().getName()}">
															</td>
															<td style="text-align: center" class="merchant-item" th:text="${cart.getQuantity()}"></td>
															<td class="merchant-item order-price">
																[[${#numbers.formatDecimal(cart.getProduct().getNewPrice(),0, 'COMMA', 0, 'POINT')}]] đ
															</td>
														</tr>
														<tr>
															<th scope="col" colspan="3">Tổng tiền</th>
															<th scope="col" class="order-price">
																[[${#numbers.formatDecimal(totalPrice,0, 'COMMA', 0, 'POINT')}]] đ
															</th>
														</tr>
														<tr>
															<th scope="col">
																<input type="text" id="merchant_id" style="display: none" th:field="*{merchant_id}">
															</th>
															<th scope="col">
																<input type="text" style="display: none" th:field="*{totalPrice}">
															</th>
															<th scope="col">
																<input type="text" style="display: none" th:field="*{orderdate}">
															</th>
														</tr>
														<tr>
														</tr>
														<tr>
															<td scope="col">Ghi chú</td>
															<td scope="col" colspan="2">
																<input class="note"
																	type="text" placeholder="Ghi chú" th:field="*{note}">
															</td>
														</tr>
														<tr>
															<td scope="col">Địa chỉ</td>
															<td scope="col" colspan="2">
																<input class="note" type="text" placeholder="Địa chỉ giao hàng"
																	th:field="*{address}">
															</td>
														</tr>
													</tbody>
												</table>
										</div>
									</form>
									<button type="submit"
										class="btn btn-primary btn-lg btn-block btn-checkout-b"
										th:onclick="checkout([[${order}]], [[${carts}]])">
										Đặt hàng
									</button>
									</div>
								</div>
							</div>
						</div>
					
					</div>
					<div class="row d-flex justify-content-center my-4">
						<div class="col-12 col-sm-7 col-md-7 p-0 pe-sm-3">
							<div class="card mb-4">
								<div class="card-header py-3">
									<h5 class="mb-0">Lịch sử mua hàng</h5>
								</div>
								<div class="card-body p-0 mt-3">
									<th:block th:if="${orders.size() == 0 }">
										<span class="fs-5">Chưa có sản phẩm nào được mua</span>
									</th:block>
									<th:block th:if="${orders.size() != 0 }">
										<div class="table-responsive  table-responsive-history">
											<table class="table table-striped table-sm">
												<thead class="align-middle">
													<tr>
														<th scope="col">Ảnh</th>
														<th scope="col">Thời gian</th>
														<th scope="col">Trạng thái</th>
														<th scope="col" colspan="2"
															style="text-align: center; width: 150px">Hành động</th>
													</tr>
												</thead>
												<tbody class="align-middle align-middle text-center">
													<tr th:each="order,i : ${orders}"
														th:onclick="getOrderDetails([[${order.id}]])">
														<td>
															<img th:src="@{'/image/'+${order.getAppUser().getAvatar()}}" alt=""
																style="height: 40px; width: 40px; border-radius: 50%;">
														</td>
														<td class="merchant-item">[[${order.getOrderdate()}]]</td>
														<td class="merchant-item">[[${order.getStatus()}]]</td>
														<td class="merchant-item seller-receive"
															style="width: 100px;"
															th:if="${order.status == 'seller-receive'}">
															<a class="btn-order"
																th:href="@{/user/update-order-status/__${order.id}__/buyer-receive}">
																Nhận hàng
															</a>
														</td>
														<td class="merchant-item" style="width: 100px;"
															th:if="${order.status == 'seller-receive'}">
															<a class="btn-order" th:href="@{/user/update-order-status/__${order.id}__/buyer-refuse}">
																Từ chối
															</a>
														</td>
														<td class="merchant-item merchant-item-icon"
															th:if="${order.status == 'buyer-receive'}">
															<a class="btn-order-icon" th:href="@{/user/delete-order/__${order.id}__}">
																<i class="fa-solid fa-trash"></i>
															</a>
														</td>
														<td class="merchant-item merchant-item-icon"
															th:if="${order.status == 'buyer-refuse'}">
															<a class="btn-order-icon" th:href="@{/user/delete-order/__${order.id}__}">
																<i class="fa-solid fa-trash"></i>
															</a>
														</td>
														<td class="merchant-item merchant-item-icon"
															th:unless="${order.status == 'seller-receive' || order.status == 'buyer-receive' || order.status == 'buyer-refuse'}">
															
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</th:block>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-5 col-md-5 p-0 ps-sm-3">
							<div class="card mb-4">
							<div class="card-header py-3">
								<h5 class="mb-0">Chi tiết đơn hàng</h5>
							</div>
							<div class="card-body p-0 mt-3"
								id="table-orderdetail-history">
									<span class="fs-5 ms-3">Chưa có đơn hàng nào được chọn</span>
								<div class="table-responsive table-orderdetail-history"
									style="display: none">
									<table class="table table-striped table-sm">
										<thead class="align-middle">
											<tr>
												<th scope="col">Ảnh</th>
												<th scope="col">Tên</th>
												<th scope="col">Sl</th>
												<th scope="col">Đơn giá</th>
											</tr>
										</thead>
										<tbody id="table-orderDetails" class="align-middle text-center">
										</tbody>
									</table>
									<div id="order-detail-total-price"></div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div th:replace="~{/fragments/app-fragments :: footer}">Footer
			</div>
		</div>
	</div>

</body>
</html>