<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change pass</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/change-pass.css}">
</head>
<head th:replace="~{/common/head :: head}">
</head>

<body class="portal" >
	<div id="app">
		<div class="wrapper">
			<header class="main-header"
				th:replace="~{/common/head :: header}">
			</header>
			
			<div class="now-change-pass container">
				<div class="content row justify-content-center">
					<div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
						<div class="title">Đổi mật khẩu</div>
						<div th:if="${param.error}">
							<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
						</div>
						<div th:if="${mess}">
							<p class="text-danger">[[${mess}]]</p>
						</div>
						<form th:action="@{/home/change-pass}" method="post"
							th:object="${passwordDTO}">
							<div th:if="${error}">
								<p class="text-danger">[[${error}]]</p>
							</div>
							<div class="form-change-pass-input">
								<div class="text-danger"
									th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">
								</div>
								<div class="field-group">
									<div class="input-group">
										<input type="password" name="currentPassword"
											th:field="*{currentPassword}" placeholder="Nhập mật hiện nay">
										<i class="fa-solid fa-eye show-password"></i> 
										<i class="fa-solid fa-eye-slash hide-password"></i>
									</div>
								</div>
								<div class="text-danger"
									th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
								<div class="field-group">
									<div class="input-group">
										<input type="password" name="newPassword"
											th:field="*{newPassword}" placeholder="Nhập mật khẩu mới">
										<i class="fa-solid fa-eye show-password"></i> 
										<i class="fa-solid fa-eye-slash hide-password"></i>
									</div>
								</div>
								<div class="text-danger"
									th:if="${#fields.hasErrors('confirmPassword')}"
									th:errors="*{confirmPassword}"></div>
								<div class="field-group">
									<div class="input-group">
										<input type="password" name="confirmPassword"
											th:field="*{confirmPassword}"
											placeholder="Nhập lại mật khẩu mới"> 
											<i class="fa-solid fa-eye show-password"></i> 
											<i class="fa-solid fa-eye-slash hide-password"></i>
									</div>
								</div>
								<button class="btn btn-block btn-submit btn-change-pass">
									Đổi mật khẩu
								</button>
							</div>
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="~{/common/footer :: footer}"></footer>
	<script th:inline="javascript" th:src="@{/static/js/change-pass.js}"></script>
</body>
</html>