<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>
    <link rel="stylesheet" th:href="@{/static/css/chat.css}" />

<!-- https://cdnjs.com/libraries/sockjs-client -->
<script type="text/javascript" th:src="@{/static/js/sockjs.min.js}"></script>
<!-- https://cdnjs.com/libraries/stomp.js/ -->
<script type="text/javascript"  th:src="@{/static/js/stomp.min.js}"></script>

</head>
<body>
<div id="chat-container">
    <div class="chat-header">
        <div class="user-container">
            <span id="username" th:utext="${session.username}"></span>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <h3>Spring WebSocket Chat Demo</h3>
    </div>

    <hr/>

    <div id="connecting">Connecting...</div>
    <ul id="messageArea">
    </ul>
    <form id="messageForm" name="messageForm">
        <div class="input-message">
            <input type="text" id="message" autocomplete="off"
                   placeholder="Type a message..."/>
            <button type="submit">Send</button>
        </div>
    </form>
</div>

<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}">
</script>
<script th:src="@{/static/js/socketJs.js}"></script>

</body>
</html>