<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cart</title>

 <link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.png}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/homepage.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/cart_page.css}">
<script th:src="@{https://kit.fontawesome.com/bb6a3cf0b7.js}"></script>
<!-- https://cdnjs.com/libraries/sockjs-client -->
<script th:src="@{/static/js/sockjs.min.js}"></script>
<!-- https://cdnjs.com/libraries/stomp.js/ -->
<script type="text/javascript"  th:src="@{/static/js/stomp.min.js}"></script>


<!-- <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css}"> -->

<style>
  .font15 {
    font-size: 15px;
  }

  .font14 {
    font-size: 14px;
  }
</style>
</head>

<body class="portal" style="font-size:calc(8px + 0.5vw);">
<div id="app">
  <div class="wrapper">


    <header class="main-header" th:replace="~{/fragments/app-fragments :: home-header}">

    </header>


<section class="h-100 gradient-custom">
  		<h1>Checkout page</h1>
</section>


    <div th:replace="~{/fragments/app-fragments :: footer}">
        Footer
    </div>

  </div>


</div>

<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}">
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/static/js/socketJs.js}"></script>
</body>
</html>