<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Homepage</title>

 <link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.png}">

<link rel="stylesheet" type="text/css" th:href="@{/static/css/homepage.css}">
  <script th:src="@{https://kit.fontawesome.com/bb6a3cf0b7.js}"></script>
</head>
<body>


<div id="app">
  <div class="wrapper now-banner">
  
  
    <header class="main-header" th:replace="~{/fragments/app-fragments :: home-header}">

    </header>


      <div class="now-banner ver_vi" style=" top: 70px;">
        <div class="container  now-banner-container">
          <div class="now-search">
            <div>
              <h1 class="title">Đặt Đồ ăn, giao hàng từ 20'...</h1>
              <div class="local">có 37422 địa điểm ở Hà Nội từ 00:00 - 23:59</div>
            </div>
            <div class="form-search">
              <div class="input-group"><input style="color: black;" type="text" id="txtSearchHome"
                                              placeholder="Tìm địa điểm, món ăn, địa chỉ..." ><a>
                <button disabled="true" type="button"
                        class="btn btn-search"><span class="fa fa-search"></span></button>
              </a></div>
            </div>
            <div class="category-list-filter"><a ><span
              class="category-item ">All</span></a><a ><span
              class="category-item ">Đồ ăn</span></a><a ><span class="category-item ">Đồ uống</span></a><a
              ><span
              class="category-item ">Đồ chay</span></a>
              <a><span class="category-item ">Bánh kem</span></a>
              <a><span class="category-item ">Tráng miệng</span></a><a><span
              class="category-item ">Homemade</span></a>
              <a><span class="category-item ">Vỉa hè</span></a>
              <a><span class="category-item ">Pizza/Burger</span></a>
              <a><span class="category-item ">Món gà</span></a>
              <a><span class="category-item ">Món lẩu</span></a>
              <a><span class="category-item ">Sushi</span></a>
              <a><span class="category-item ">Mì phở</span></a>
              <a><span class="category-item ">Cơm hộp</span></a></div>
            <div>
              <div class="font18 mb-2 mt-3">Sử dụng App ShopeeFood để có nhiều giảm giá <br>và trải nghiệm
                tốt hơn
              </div>
              <a target="_blank" rel="noopener noreferrer"
                 href="https://itunes.apple.com/us/app/deliverynow/id1137866760" title="App Store"><span
                class="icon icon-app-store-big"></span></a><a target="_blank"
                                                              rel="noopener noreferrer"
                                                              href="https://play.google.com/store/apps/details?id=com.deliverynow"
                                                              title="Google play"><span
              class="icon icon-gg-play-big"></span></a>
            </div>
          </div>

          <div class="contain-main-home clearfix">
            <div class="container">
              <div class="main-right-home">
                <div class="user-get-local">
                  <div class="row align-items-center no-gutters pointer">
                    <div class="col-auto"><span class="txt-blue txt-bold">Đồ ăn</span><i
                      class="fas fa-long-arrow-alt-right txt-gray-7 ml-2 font12"></i></div>
                    <div class="col pl-2 pr-2 txt-elipsis">Chọn địa chỉ giao hàng</div>
                    <div class="col-auto"><span class="pl-2 pr-2 link" data-toggle="modal"><i
                      class="fas fa-angle-right txt-gray-7"></i></span></div>
                  </div>
                </div>
                <div class="now-list-restaurant deal-tab">
                  <div class="title-wrapper">
                    <h2 class="title">Danh sách quán</h2>
                  </div>
                  <div class="list-restaurant">
                    <div class="now-loading-restaurant ">
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                    </div>
                    <div th:each="merchant: ${merchants}">
                      <div class="item-restaurant">
                      <a class="item-content" th:href="@{home/merchant-detail/__${merchant.id}__}">
                        <div class="img-restaurant">
                          <div class="tag-preferred"><i class="fa fa-thumbs-up"
                                                        aria-hidden="true"></i>Yêu thích
                          </div>
                          <img
                            th:src="@{'/image/'+${merchant.avatar}}"
                            class="">
                        </div>
                        <div class="info-restaurant">
                          <div class="info-basic-res">
                            <h4 class="name-res" title="" th:text="${merchant.name}"></h4>
                            <div class="address-res"
                                th:text="${merchant.address}"></div>
                          </div>
                          <div class="opentime-status"><span class="stt online" title="Mở cửa"
                                                             style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                          </div>
                        </div>
                      </a></div>
                    </div>
                  </div>
                  <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link"><span
                      class="pr-1">Xem thêm</span><i class="fas fa-redo font12 "></i></button>
                  </div>
                </div>
    
                <div class="now-list-restaurant now-list-restaurant-row home-tab">
                  <div class="header-tab row align-items-center">
                    <div class="col">
                      <button class="item-tab active">Gần tôi</button>
                      <button
                        class="item-tab false">Bán chạy
                      </button>
                      <button class="item-tab false">Đánh
                        giá
                      </button>
                      <button class="item-tab false">Giao nhanh</button>
                    </div>
                    <div class="col-auto"><select name="districtId">
                      <option value="-1">Chọn quận/ huyện</option>
                      <option value="20">Ba Đình</option>
                      <option value="21">Cầu Giấy</option>
                      <option value="22">Đống Đa</option>
                      <option value="23">Hà Đông</option>
                      <option value="24">Hai Bà Trưng</option>
                      <option value="25">Hoàn Kiếm</option>
                      <option value="26">Hoàng Mai</option>
                      <option value="27">Long Biên</option>
                      <option value="28">Tây Hồ</option>
                      <option value="29">Thanh Xuân</option>
                      <option value="678">Gia Lâm</option>
                      <option value="679">Hoài Đức</option>
                      <option value="688">Thanh Trì</option>
                      <option value="689">Thường Tín</option>
                      <option value="690">Bắc Từ Liêm</option>
                      <option value="945">Nam Từ Liêm</option>
                    </select></div>
                  </div>
                  <div class="list-restaurant">
                    <div class="now-loading-restaurant  ">
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                      <div class="box-loading">
                        <div class="box-thumbnail"></div>
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                      </div>
                    </div>
                    <div class="item-restaurant">
                    <a class="item-content" href="/thuong-hieu/the-1989-vietnam-milktea">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g89/888197/prof/s280x175/foody-upload-api-foody-mobile-2-190218164006.jpg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>The
                              1989 - Trà Sữa Muối Biển
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="count-place-res mb-1">4 địa điểm</div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              19k
                            </div>
                            <p class="kind-restaurant"> Café/Dessert</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant"><a class="item-content"
                                                    href="/ha-noi/tra-chanh-bui-pho-mai-anh-tuan">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g97/966255/prof/s280x175/foody-upload-api-foody-mobile-foody-upload-api-foo-191008162627.jpg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Trà
                              Chanh Bụi Phố - Mai Anh Tuấn
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="address-res mb-1">12 Mai Anh Tuấn, P. Ô Chợ Dừa,
                                  Đống Đa, Hà Nội
                                </div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              31k
                            </div>
                            <p class="kind-restaurant"> Café/Dessert</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant"><a class="item-content"
                                                    href="/thuong-hieu/tra-sua-pozaa-tea">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g79/783811/prof/s280x175/image-9599c253-220724125745.jpg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Trà
                              Sữa Pozaa Tea_foody
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="count-place-res mb-1">65 địa điểm</div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              43k
                            </div>
                            <p class="content-promotion pt-1 pl-0 pb-0"><i
                              class="fas fa-tag"></i> Đồng giá 28k</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant"><a class="item-content" href="/ha-noi/bun-dau-mai-dung">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g102/1019748/prof/s280x175/foody-upload-api-foody-mobile-142fe07e-c5f1-467f-b-200511163726.jpg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Bún
                              Đậu Mai Dung
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="address-res mb-1">6 Đặng Xuân Bảng, P. Đại Kim,
                                  Hoàng Mai, Hà Nội
                                </div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              27k
                            </div>
                            <p class="kind-restaurant"> Quán ăn</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant"><a class="item-content" href="/ha-noi/tocotoco-linh-nam">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g97/960486/prof/s280x175/foody-upload-api-foody-mobile-avar-190924114711.jpg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Tocotoco
                              - Lĩnh Nam
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="address-res mb-1">40 Lĩnh Nam, P. Mai Động,
                                  Hoàng Mai, Hà Nội
                                </div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              46k
                            </div>
                            <p class="content-promotion pt-1 pl-0 pb-0"><i
                              class="fas fa-tag"></i> Giảm hết 40%</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant"><a class="item-content"
                                                    href="/ha-noi/chan-ga-sa-ot-bun-dau-mam-tom-cu-loc">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g68/678593/prof/s280x175/image-46ae002c-200910115831.jpeg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Bún
                              Đậu Mắm Tôm - Chính Kinh
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="address-res mb-1">5 Ngõ 12 Chính Kinh, P. Nhân
                                  Chính, Thanh Xuân, Hà Nội
                                </div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              45k
                            </div>
                            <p class="content-promotion pt-1 pl-0 pb-0"><i
                              class="fas fa-tag"></i> Giảm món</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant"><a class="item-content"
                                                    href="/thuong-hieu/anh-gau-mi-tron-indomine">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g95/947717/prof/s280x175/file_restaurant_photo_aewu_16474-d8daf85f-220317123810.jpg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Anh
                              Gấu - Mì Trộn Indomie
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="count-place-res mb-1">2 địa điểm</div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              38k
                            </div>
                            <p class="content-promotion pt-1 pl-0 pb-0"><i
                              class="fas fa-tag"></i> Giảm món</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant">
                    <a class="item-content" href="/thuong-hieu/bun-bo-tron-bun-mach-trang">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g97/961371/prof/s280x175/image-c1f302ed-200910115817.jpeg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Bún
                              Bò Trộn &amp; Bún Mạch Tràng
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="count-place-res mb-1">2 địa điểm</div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              48k
                            </div>
                            <p class="kind-restaurant"> Quán ăn</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                    <div class="item-restaurant"><a class="item-content"
                                                    href="/thuong-hieu/quan-chi-chip-nem-nuong-nha-trang-bun-dau-met">
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <div class="img-restaurant"><img
                            src="https://images.foody.vn/res/g101/1002194/prof/s280x175/file_restaurant_photo_azc7_16260-ea61ab57-210712014200.jpeg"
                            class=""></div>
                        </div>
                        <div class="col">
                          <div class="info-restaurant">
                            <div class="name-res"><span class="icon icon-quality-merchant"
                                                        title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>Quán
                              Chị Chíp - Nem Nướng Nha Trang &amp; Bún Đậu Mẹt
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="count-place-res mb-1">2 địa điểm</div>
                              </div>
                              <div class="col-auto">
                                <div class="item-res-distant"></div>
                              </div>
                            </div>
                            <div class="item-res-info"><span class="icon icon-price-tag"></span>
                              Tối thiểu 20k<span class="icon icon-money-sm ml-3"></span> Giá
                              60k
                            </div>
                            <p class="kind-restaurant"> Quán ăn</p>
                          </div>
                        </div>
                        <div class="opentime-status opentime-status-icon"><span class="stt online" title="Mở cửa"
                                                                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span>
                        </div>
                      </div>
                    </a></div>
                  </div>
                  <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link"><span
                      class="pr-1">Xem thêm</span><i class="fas fa-redo font12 "></i></button>
                  </div>
                </div>
                <div class="end-check-point"></div>
              </div>
            </div>
          </div>

        </div>
        <br>

      </div>

      <div class="container">
        <div class="now-container-coporation">
          <h4 class="title"><span>Đơn hàng của bạn sẽ được bảo quản như thế nào?</span></h4><span>
                        <p class="font15"> ShopeeBae sẽ bảo quản đơn của bạn bằng túi &amp; thùng để chống nắng mưa,
                            giữ nhiệt... trên đường đi một cách tốt nhất. </p>
                    </span><img th:src="@{/static/img/Box-food-preservation-footer.png}"
                                alt="food preservation">
        </div>
        <div class="now-container-coporation img-right">
          <h4 class="title"><span>Ứng dụng ShopeeBae</span></h4><span>
                        <p class="font14">- <b>Ứng dụng ShopeeBae</b> là ứng dụng quản lý đơn hàng cho các nhà hàng
                            đối tác của dịch vụ đặt món tận nơi </p>
                        <p class="font14"> - <b>ShopBaeFood.vn</b> luôn sẵn sàng hợp tác với các nhà hàng, quán ăn,
                            cafe... để mở rộng kinh doanh cũng như gia tăng khách hàng. Hãy kết nối vào hệ thống đặt và
                            giao hàng để giảm bớt chi phí quản lý, vận hành, marketing, công nghệ... <br> Đăng ký tham
                            gia: <b><a th:href="@{register/merchant}" target="_blank">tại đây</a></b>
                        </p>
                    </span>
          <div class="bg-corporation"><img
            th:src="@{/static/img/banner-phone-reg-merchant.png}"
            alt="NowMerchant App" title="NowMerchant App" width="294px"></div>
        </div>
        <div class="now-container-coporation img-right">
          <h4 class="title"><a href="/tuyen-dung"><span><span
            style="color: #EE4D2D;font-weight: bold;">ShopBaeFood.vn</span> Hợp tác nhân viên
                                giao nhận - ShopeeFood Driver</span></a></h4><span>
                        <p class="font15">Giúp bạn tăng thu nhập trong thời gian rảnh rỗi</p>
                        <p><span style="color: #EE4D2D;font-weight: bold;">ShopBaeFood</span> tìm kiếm hợp tác với các cá
                            nhân để thực hiện việc giao hàng, chúng tôi sẽ cung cấp ứng dụng (app), 1 số dụng cụ cần
                            thiết để bạn có thể tiếp nhận &amp; giao hàng, kiếm thêm thu nhập <br>Đăng ký tham gia <a
                            href="https://shopbaefood.vn/tuyen-dung" style="color: #4D77A2; font-weight:bold">tại
                                đây</a> hoặc gửi Email qua <a href="mailto:tuyendung@demo.vn"
                                                              style="color: #4D77A2; font-weight:bold">tuyendung@demo.vn</a> - hoặc gọi qua số điện
                            thoại (028) 0123.456.789. </p>
                    </span>
          <div class="bg-corporation"><img
            TH:src="@{/static/img/bg-deliverynow-dat-mon-truc-tuyen-giao-hang-tan-noi.png}"
            class="bg-deliverynow" alt="bg-deliverynow-dat-mon-truc-tuyen-giao-hang-tan-noi"
            title="bg-deliverynow-dat-mon-truc-tuyen-giao-hang-tan-noi" width="170px"
            data-change-lang="" style="width: 170px;"></div>
        </div>
        
 </div>

  </div>
  <footer class="main-footer"  th:replace="~{/fragments/app-fragments :: footer}">

  </footer>
</div>



</body>
</html>