<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/login-register.css}">
</head>
<head th:replace="~{/common/head :: head}">
</head>

<body class="portal">
<div id="loading" style="display: none;">
  <p id="loading-image"><img th:src="@{/static/img/loading.gif}" alt=""></p>
</div>

<div id="app">
  <div class="wrapper">
    <header class="main-header" th:replace="~{/common/head :: header}">
    </header>
    <!--form login-->
    <div class="now-login container-fluid" style="height: 92vh;">
      <div class="content row justify-content-center">
        <div class="col-xl-6 col-xxl-4 col-lg-6 col-md-10 col-sm-9 col-12 border pb-3 shadow">
         <div class="title row">
         	<h1> Đăng nhập</h1>
        </div>
        <div class="login-via">
          <div class="item phone"><span class="fas fa-mobile-alt"></span>Số điện thoại</div>
          <div class="item fb"><span class="fab fa-facebook-f"></span>Facebook</div>
          <div class="item plus"><i class="fab fa-google-plus-g"></i>Google</div>
        </div>
        <p class="text">Hoặc đăng nhập bằng tài khoản của bạn</p>
        <!--        form login-->
        <div th:if= "${param.error}" >
        <p style="color:red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
 	 	<div th:if= "${mess}" >
        <p style="color:red">[[${mess}]]</p>
        </div>
        <form th:action="@{/login}" method="post">
          <div class="form-login-input">
            <!--  <span th:text= "${mess}"></span> -->
            <div class="field-group">
              <div class="input-group">
              <i class="far fa-user"></i>
              <input type="text" name="userName" placeholder="Tên đăng nhập">
              </div>
            </div>
             <div class="field-group">
                <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Mật khẩu">
                </div>
             </div>
            <div class="form-group clearfix">
              <div class="float-left"><input type="checkbox" id="RememberMe" ><label for="RememberMe">Lưu
                thông tin đăng nhập</label></div>
              <span class="float-right"><a th:href="@{/forgotpass}">Quên mật
                                    khẩu?</a></span>
            </div>
            <button class="btn btn-block btn-submit btn-primary" style="width:100%">Đăng nhập</button>

         <!--    <a th:href="@{/register/merchant}" class="btn btn-block btn-dark">Đăng ký</a> -->
            <a th:href="@{/register/user}" class="btn btn-block btn-dark" style="width:100%">Đăng ký</a>
          </div>
          <br>
        </form>
        <div class="login-mess-policy">Chúng tôi không sử dụng thông tin của bạn với bất kỳ mục đích nào. Bằng cách đăng
          nhập hoặc đăng ký, bạn đồng ý với <a
            style="color: #0495ba; border-bottom: 2px solid; text-decoration: none !important;" target="_blank"
            href="https://shopeefood.vn/gioi-thieu#footer-bottom">Chính sách quy định của Foody</a>
            </div>   
        </div>
      </div>
    </div>
    <!-- end form login -->
  </div>
</div>
</body>
</html>