<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Merchant Details</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/merchant-detail.css}">
</head>
<head th:replace="~{/fragments/head :: head}">
</head>

<body>
	<div id="app">
		<div class="wrapper">
			<header class="main-header"
				th:replace="~{/fragments/head :: header}">
			</header>

			<div class="wrapper-item">
				<div class="container">
					<div class="row mt-5 mb-5 bg-white py-3">
						<img th:src="@{'/image/'+${merchant.avatar}}" class="img-fluid col-4 col-sm-4 col-md-4">
						<div class="detail-restaurant-info col-8 col-sm-8 col-md-8">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a class="breadcrumb-link" th:href="@{/home}">Home</a>
									</li>
									<li class="breadcrumb-item">
										<a class="breadcrumb-link" th:text="${merchant.name}" th:href="@{/home/merchant-detail/__${merchant.id}__}"></a>
									</li>
								</ol>
							</nav>
							<h4 class="name-restaurant" th:text="${merchant.name}"></h4>
							<div class="address-restaurant" >
								<i class="bi bi-geo-alt"></i>
								<span th:text="${merchant.address}"></span>
							</div>
							<div class="status-restaurant">
								<div class="time">
									<i class="far fa-clock"></i> 
									<span th:text="${merchant.openTime}"></span>--<span
										th:text="${merchant.closeTime}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
						<div class="container">
							<div class="row">
								<div class="menu-restaurant-container col-12 col-sm-4 col-md-4 p-0 pe-sm-5">
									<div class="menu-restaurant-category menu-restaurant-category h-100">
									<div class="item">Thực đơn</div>
									<div class="list-category" id="scroll-spy">
										<div class="scrollbar-container ps">
											<div class="item">
												<span id="1001658" title="HÔM NAY CÓ GÌ HOT"
													class="item-link active ps-3">HÔM NAY CÓ GÌ HOT</span>
											</div>
											<div class="item">
												<span title="Đồ Uống siêu hot ngày hè"
													class="item-link ">Đồ Uống siêu hot ngày hè</span>
											</div>
											<div class="item">
												<span title="Ăn vặt mê ly" class="item-link ">Ăn
													vặt mê ly</span>
											</div>
											<div class="item">
												<span title="Mỳ Trộn (0963408143)"
													class="item-link ">Mỳ Trộn (0963408143)</span>
											</div>
											<div class="item">
												<span title="Đồ Ăn Vặt (0963408143)"
													class="item-link ">Đồ Ăn Vặt (0963408143)</span>
											</div>
											<div class="item">
												<span title="Combo (0963408143)"
													class="item-link ">Combo (0963408143)</span>
											</div>
											<div class="item">
												<span title="Món Gà" class="item-link ">Món
													Gà</span>
											</div>
											<div class="item">
												<span title="Đồ đông lạnh chưa chế biến"
													class="item-link ">Đồ đông lạnh chưa chế biến</span>
											</div>
											<div class="item">
												<span title="Gia vị chấm" class="item-link ">Gia
													vị chấm</span>
											</div>
										</div>
									</div>
								</div>
								</div>
								<div class="menu-restaurant-detail col-12 col-sm-8 col-md-8 p-0">
									<div class="promotions-order">
										<div class="promotion-item">
											<div>
												<img
													src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_14.png"
													alt="Thanh toán thẻ tín dụng Sacombank: Giảm 60K cho đơn từ 150K"
													class="icon-promotion">
												<div class="content">Thanh toán thẻ tín dụng
													Sacombank: Giảm 60K cho đơn từ 150K</div>
											</div>
											<button class="code-copy">
												<span class="promo_STB60">Copy code</span><span
													class="fa fa-copy"></span>
											</button>
										</div>
										<div class="promotion-item">
											<div>
												<img
													src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_14.png"
													alt="Thanh toán thẻ tín dụng VIB: Giảm 60K cho đơn từ 200K"
													class="icon-promotion">
												<div class="content">Thanh toán thẻ tín dụng VIB: Giảm
													60K cho đơn từ 200K</div>
											</div>
											<button class="code-copy">
												<span class="promo_VIB60">Copy code</span><span
													class="fa fa-copy"></span>
											</button>
										</div>
										<div class="promotion-item">
											<div>
												<img
													src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_14.png"
													class="icon-promotion">
												<div class="content">Thanh toán thẻ tín dụng
													Techcombank: Giảm 50K cho đơn từ 150K từ thứ 4 đến chủ nhật
													hàng tuần</div>
											</div>
											<button class="code-copy">
												<span class="promo_TECHCOMBANK">Copy code</span><span
													class="fa fa-copy"></span>
											</button>
										</div>
									</div>
									<div class="menu-restaurant-list">
										<div class="search-items">
											<p class="input-group">
												<i class="fas fa-search"></i><input type="search"
													name="searchKey" placeholder="Tìm món">
											</p>
										</div>
										<div id="restaurant-item">
													<div class="title-menu ps-3">HÔM NAY CÓ GÌ HOT</div>
														<div class="item-restaurant-row pe-3" th:each="product : ${products}">
															<div class="row">
																<div class="col-4 col-sm-2 col-md-2 col-xl-2 item-restaurant-img ps-4">
																		<img th:src="@{'/image/' +${product.image}}" class="w-100 rounded-1">
																</div>
																<div class="col-4 col-sm-8 col-md-8 col-xl-8 item-restaurant-info">
																	<h6 class="item-restaurant-name" th:text="${product.name}"></h6>
																	<span class="d-block" th:text="${product.shortDescription}"></span>
																		<div class="d-flex">
																			<span class ="me-2">Số lượng: </span> 
																			<span th:if="${product.quantity} == 0" class="text-danger">
																				Hết hàng
																			</span> 
																			<span th:unless="${product.quantity} == 0"
																				th:text="${product.quantity}">
																			</span>
																		</div>
																	</div>
																	<div class="col-4 col-sm-2 col-md-2 col-xl-2 item-restaurant-more d-flex align-items-center justify-content-end">
																		<div class="me-2 text-end">
																			<span class="old-price d-block text-danger text-decoration-line-through">
																				[[${#numbers.formatDecimal(product.oldPrice, 0,
																				'COMMA', 0, 'POINT')}]] đ
																			</span>
																			<span class="current-price d-block">
																				[[${#numbers.formatDecimal(product.newPrice, 0,
																				'COMMA', 0, 'POINT')}]] đ
																			</span>
																		</div>
																		<div class="btn-adding"
																			th:onclick="addToCart([[${product.newPrice}]],[[${session.userId}]],[[${product.id}]])">+
																		</div>
																	</div>
															</div>
														</div>
													<div class="txt-center mt-2">
														<button class="btn-none btn-load-more link">
															<span class="pe-1">Xem thêm</span>
															<i class="fas fa-redo font12 "></i>
														</button>
													</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>
		</div>
	</div>

	<footer class="main-footer"
		th:replace="~{/fragments/app-fragments :: footer}"> 
	</footer>

	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}">
	</script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script th:inline="javascript"
		th:src="@{/static/js/merchant_detail.js}">
	</script>
</body>
</html>