<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #merchant-static-resources},
                                                ~{:: #merchant-header},
                                                ~{:: #merchant-nav},
                                                ~{:: #merchant-sup-title},
                                                ~{:: #merchant-nav-sup},
                                                ~{:: #merchant-main-content},  
                                                ~{:: #merchant-footer}
                                               )}">

<head>
<title>Merchant Page</title>
<th:block id="merchant-static-resources">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/info.css}">
</th:block>
</head>
<body>
	<div id="merchant-header" th:replace="~{/common/head :: header}"></div>
	<nav id="merchant-nav"
		th:replace="~{/fragments/merchant-fragments :: merchant-nav}">
		Merchant Nav
	</nav>

	<main class="container-fluid m-md-5">
		<div class="container card shadow d-flex justify-content-center mt-5">
			<!-- nav options -->
			<div th:if="${route == 'order-pending' || route == 'seller-receive' || route == 'order-history' || route == 'order-detail'}">
				<div id="merchant-nav-sup" 
					th:replace="~{/fragments/merchant-fragments :: merchant-nav-sup}">
				</div>
			</div>
			<!-- nav options -->
			<!-- content -->
			<div id="merchant-main-content"  class="w-100"
				th:replace="~{/fragments/merchant-fragments :: ${route}}">
			</div>
			<!-- content -->
		</div>
	</main>

	<footer id="merchant-footer" th:replace="~{/common/footer :: footer-merchant}"></footer>
</body>
</html>