<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>

 <link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.png}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/homepage.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css}">

<style>
  .font15 {
    font-size: 15px;
  }

  .font14 {
    font-size: 14px;
  }
</style>
</head>

<body class="portal" style="font-size:calc(8px + 0.5vw);">
<div id="app">
  <div class="wrapper">
    <header class="main-header">

      <div class="container-header">
        <div class="container">
          <div class="header-content navbar row  justify-content-between align-items-center">
            <div class="logo-now col-auto"><span>
            <a th:href="@{/home}">Logo
<!--             <img th:src="@{/static/img/shopeefoodvn.png}" alt="ShopeeFood"> -->
            </a></span></div>
        
            <div class="user-acc col-auto">
              <a th:href="@{/login}" type="button" class="btn btn-none-bg btn-login">
                <span  class="font14">Đăng nhập</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    
    </header>
    <!--form login-->
    <div class="now-login">
      <div class="content">
        <div class="title" th:text= "${title}"></div>
        <div class="login-via">
          <div class="item phone"><span class="fas fa-mobile-alt"></span>Số điện thoại</div>
          <div class="item fb"><span class="fab fa-facebook-f"></span>Facebook</div>
          
              <div class="item plus"><i class="fab fa-google-plus-g"></i>Google</div>
          
        </div>
        <!--        <p class="text">Hoặc đăng nhập bằng tài khoản của bạn</p>-->
        <form th:action="@{${register}}" th:object="${accountRegisterDTO}" method="post">
          <div class="form-login-input">
          
          	<div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
            <div class="field-group">
              <div class="input-group"><i class="far fa-user"></i><input type="text"  th:field="*{userName}"
                                                                         placeholder="Tên đăng ký" value=""
                                                                        >
                                                                         
                                                                         
                  
                </div>
              </div>
              
              <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
             <div class="field-group">
              <div class="input-group"><i class="fas fa-lock"></i><input type="password" th:field="*{password}" placeholder="Mật khẩu"
                                                                         value="">
                                                                         
                
              </div>

		     </div>
				<div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				
				<div class="field-group">
              <div class="input-group"><i class="far fa-envelope"></i><input type="text" th:field="*{email}" placeholder="Nhập email"
                                                                             value="" >
             
              </div>
             
             	</div>
             	
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <div class="field-group">
              <div class="input-group"><i class="far fa-user"></i><input type="text" th:field="*{name}"
                                                                         placeholder="Nhập tên chủ tài khoản"
                                                                         value="" >
             
              </div>
            </div>
            
             <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
            <div class="field-group">
              <div class="input-group"><i class="fas fa-phone"></i><input type="text" th:field="*{phone}" placeholder="Nhập số điện thoại"
                                                                          value="" >
                                                                          
                
                
              </div>
            </div>  
             
           <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            <div class="field-group"> 
              <div class="input-group"><i class="fas fa-home"></i><input type="text" th:field="*{address}" placeholder="Nhập địa chỉ"
                                                                         value="" >
                                                                         
              </div>
          	</div>
            </div>
            
            <button class="btn btn-block btn-submit">Đăng ký</button>
          </div>
        </form>       
        
        <br>
        <div class="login-mess-policy">Chúng tôi không sử dụng thông tin của bạn với bất kỳ mục đích nào. Bằng cách đăng
          nhập hoặc đăng ký, bạn đồng ý với <a
            style="color: #0495ba; border-bottom: 2px solid; text-decoration: none !important;" target="_blank"
            href="https://shopeefood.vn/gioi-thieu#footer-bottom">Chính sách quy định của Foody</a>
        </div>
      </div>
    </div>
    <!-- end form login -->


    <div th:replace="~{/fragments/app-fragments :: footer}">
        Footer
    </div>

  </div>

</body>
</html>