<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Info</title>

<link rel="stylesheet" type="text/css" th:href="@{/static/css/homepage.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/cart_page.css}">
<link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.png}">
<script th:src="@{https://kit.fontawesome.com/bb6a3cf0b7.js}" ></script>

<style>
  .font15 {
    font-size: 15px;
  }

  .font14 {
    font-size: 14px;
  }
</style>
</head>

<body class="portal" style="font-size:calc(8px + 0.5vw);">
<div id="app">
  <div class="wrapper">


    <header class="main-header" th:replace="~{/fragments/app-fragments :: home-header}">

    </header>


<section class="h-100 gradient-custom">

   <div th:replace="~{/fragments/app-fragments :: (${route} == 'user-info'? 'user-info' : (${route} == 'user-update-info'? 'user-update-info': 'null'))}">
        User Info
    </div>

</section>


    <div th:replace="~{/fragments/app-fragments :: footer}">
        Footer
    </div>

  </div>


</div>

    
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}">
</script>
<script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
<script th:inline="javascript" th:src="@{/static/js/main.js}">
</script>




</body>
</html>