<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Info</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/info.css}">
</head>
<head th:replace="~{/common/head :: head}">
</head>

<body class="portal">
<div id="loading" style="display: none;">
	<p id="loading-image"><img th:src="@{/static/img/loading.gif}" alt=""></p>
</div>
	<div id="app">
		<div class="wrapper">
			<header class="main-header" th:replace="~{/common/head :: header}">
			</header>
			<section class="h-100 gradient-custom">
				<div th:replace="~{/fragments/user-fragments :: (${route} == 'user-info' ? 
				'user-info' : (${route} == 'user-update-info'? 'user-update-info': 'null'))}">
				</div>
			</section>
		</div>
	</div>
	<footer th:replace="~{/common/footer :: footer}"></footer>
	<script th:inline="javascript" th:src="@{/static/js/main.js}"></script>
	
</body>
</html>