<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Info</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/info.css}">
</head>
<head th:replace="~{/fragments/head :: head}">
</head>

<body class="portal">
<div id="loading" style="display: none;">
	<p id="loading-image"><img th:src="@{/static/img/loading.gif}" alt=""></p>
</div>
	<div id="app">
		<div class="wrapper">
			<header class="main-header" th:replace="~{/fragments/head :: header}">
			</header>
			<section class="h-100 gradient-custom">
				<div
					th:replace="~{/fragments/app-fragments :: (${route} == 'user-info' ? 'user-info' : (${route} == 'user-update-info'? 'user-update-info': 'null'))}">
					User Info
				</div>
			</section>
			<div th:replace="~{/fragments/app-fragments :: footer}">Footer
			</div>
		</div>
	</div>

	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}">
	</script>
	<script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
	<script th:inline="javascript" th:src="@{/static/js/main.js}"></script>
	
</body>
</html>