<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:fragment="main-fragment (title, otherStaticResources, header, nav, supTitle, navSup, mainContent, footer)">
<head>
  <title th:replace="${title}"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/main-layout.css}">
  <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
<head th:replace="~{/common/head :: head}">
</head>
<body>
<header th:insert="${header} ?: ~{}">
</header>

<section>
  <div class="container-lg container-md-fluid container-layout">
    <div class="row">
      <nav th:insert="${nav} ?: ~{}" id="sidebarMenu"
           class="col-12 col-sm-12 col-md-12 col-lg-3 p-0 pe-lg-5 mb-4 mb-sm-0">
      </nav>
      <div class="col-12 col-sm-12 col-md-12 col-lg-9 p-0 bg-white shadow-sm">
        <main>
          <h4 th:insert="${supTitle} ?: ~{}"></h4>
          <div th:insert="${navSup} ?: ~{}" class="border-4 border-bottom mb-3"  
          th:classappend = "${route != 'order-pending' && route != 'seller-receive' && route != 'order-history' && role != 'admin' ? 
          'd-none' : route == 'order-pending' || route == 'seller-receive' || route == 'order-history' ? 'mt-5' : ' '}" >
          </div>
          <article th:insert="${mainContent} ?: ~{}" class="nav mb-3 mt-5">
          </article>
        </main>
      </div>
    </div>
  </div>
</section>
<footer th:insert="${footer} ?: ~{}">
</footer>
<script th:inline="javascript" th:src="@{/static/js/main.js}">
</script>

</body>
</html>